# Solutions Asignement-3

### Task-1

Create a list which will contain numbers between 0 and 10 (both included) and save that list in a variable named numbers.

In [8]:
numbers = []
for i in range(0,11):
    numbers.append(i)
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Q1

In [33]:
even = []
for i in numbers:
    if i%2==0:
        even.append(i)
print(len(even))

6

### Q2

In [34]:
6 in even

True

### Q3

In [35]:
print(range(15))

range(0, 15)

### Q4

In [36]:
for val in range(0, 11): 
    if val > 1: 
        for n in range(2, val): 
            if (val % n) == 0: 
                break
        else:
            numbers.remove(val)
print(numbers)
print('List is having {} elements'.format(len(numbers)))

[0, 1, 4, 6, 8, 9, 10]
List is having 7 elements

### Q5

In [1]:
odd = []
sq = []
count=0
for i in range(0,31):

    if (i<6) or (i>25):
        sq.append(i*i)
        if (i*i)%2==1:
            odd.append(i*i)
            count+=1
print(sq)
print(odd)
print(count)

[0, 1, 4, 9, 16, 25, 676, 729, 784, 841, 900]
[1, 9, 25, 729, 841]
5

### Q6

In [38]:
seq = ['soup','dog','salad','cat','great']
for i in seq:
    if i[0]=='s':
        seq.remove(i)
print(seq)
print(len(seq))

['dog', 'cat', 'great']
3

### Q7

In [39]:
numbers = [2,-1,0,76,8,23]
if(numbers[0]>numbers[1]):
    m, m2 = numbers[0], numbers[1]
else:
    m, m2 = numbers[1], numbers[0]
for x in numbers[2:]:
    if x>m2:
        if x>m:
            m2, m = m, x
        else:
            m2 = x
print(m2)

23

### Q8

In [40]:
names = ['Amir', 'Berry', 'Chales', 'Dao', 'Jay','Mona','Leo']
a_names =[] 
for i in names:
    if 'a' in i:
        a_names.append(i)
print(a_names)
print(len(a_names))

['Chales', 'Dao', 'Jay', 'Mona']
4

### Q9

In [41]:
names1 = ['Amir', 'Barry', 'Chales', 'Dao']
names2 = ['Alice', 'Barry', 'Chales', 'Dao']
names3 = ['Amir', 'Bob', 'Chales', 'Dao']
count = 0
for i in [names1,names2,names3]:
        if 'Alice' in i:
            count+=1
        elif 'Bob' in i:
            count+=10
print(count)

11

### Q10

In [42]:
names2 = ['Alice', 'Barry', 'Chales', 'Dao']
names[2]

'Chales'

### Q11

In [43]:
d =  {0: 10, 1: 20}
d[2] = 30
d

{0: 10, 1: 20, 2: 30}

### Q12

In [44]:
for i in d:
    print(i)

0
1
2

### Q13

In [45]:
b=[]
for i in d.keys():
    b.append(i)
print(b)

[0, 1, 2]

In [46]:
list(d.keys())

[0, 1, 2]

### Q14

In [47]:
d = {"banana" : 4, "apple" : 2, "orange" : 1.5, "pear": 3}
sorted(d)

['apple', 'banana', 'orange', 'pear']

### Q15

In [2]:
d = {}
>>> bag = ['gold coin', 'dagger', 'gold coin', 'gold coin', 'ruby','gold_coin',
           'dagger', 'gold coin', 'gold coin','ruby','gold coin', 'dagger', 'gold coin', 
           'gold coin', 'ruby','gold coin', 'dagger', 'gold coin', 'gold_coin', 'ruby']


for i in bag:
    d[i]= bag.count(i)
print(d)

for k,v in d.items():
    print(k,v)

{'gold coin': 10, 'dagger': 4, 'ruby': 4, 'gold_coin': 2}
gold coin 10
dagger 4
ruby 4
gold_coin 2

### Q16

In [6]:
counts = [7, 6, 9, 3, 4, 8, 9, 10]

temp = counts.copy()
for i in temp:
    if i not in d.values():
        counts.remove(i)
        
print(counts)

[4, 10]